.form {
  width: 300px;
  padding: 20px;
  display: block;
  border: 1px solid black;
}

.label {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.button {
  margin: 10px 15px;
  border-radius: 15px;
}
