.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: dotted 2px grey;
  padding: 20px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 500;
  font-size: 16px;
}

.contactsElement {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  list-style: none;
}

.contactDelete {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  font-weight: 10px;
  transition: 700 all;
}

.contactDelete:hover {
  transform: scale(1.1);
  background-color: rgb(192, 192, 192);
}
